.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input[placeholder] {
  font-size: 1.1em;
}

.container {
  width: 50%;
  height: 100px;
  position: relative;
  margin: 10px auto;
  border-radius: 5px;
}

.header {
  color: rgb(4, 25, 139);
  padding: 5px;
  text-align: center;
  font-family: Tahoma, sans-serif;
}

.inputContainer {
  padding: 40px;
}

.listWrapper {
  position: absolute;
  bottom: 50px;
  top: 200px;
  right: 0;
  left: 0;
  overflow: auto;
}

/* Buttons */

button {
  padding: 10px 40px;
  margin: 10px 0px 10px 40px;
  border-radius: 25px;
  box-sizing: border-box;
  border: 1px solid rgb(207, 207, 207);
  font-weight: bold;
}

button:hover {
  background: rgb(76, 78, 78);
}

.add {
  background: rgb(131, 212, 142);
  color: white;
}

.remove {
  background: rgb(226, 158, 126);
  color: white;
}

/* Modal */

.modal {
  font-size: 16px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 5px;
  top: 0px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/*Forms */

form {
  padding: 20px;
}

form div {
  margin: 10px;
}

form label {
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 10px 0px 10px 5px;
  border-radius: 25px;
  margin: 5px;
  background: rgb(253, 253, 176);
}

form .submit {
  background: rgb(122, 241, 241);
}

form .submit:hover {
  background: rgb(76, 78, 78);
}

/* NavBar */

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navItem {
  float: left;
}

.navItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.navItem a:hover {
  background-color: #111;
}

/* My Schedule index view */

.reservationCard {
  background: rgb(248, 191, 105);
  border: 2px solid black;
  padding: 10px 5px;
  margin: 10px;
}

#reservationList {
  list-style-type: none;
}

/* studio index view */

.inputContainer .studioInput {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  box-sizing: border-box;
}

.studioCard {
  background: rgb(47, 167, 247);
  border: 2px solid black;
  padding: 10px 5px;
  margin: 10px;
}

/* .studioCard:hover {
  background: rgb(76, 78, 78);
} */

#studioList {
  list-style-type: none;
}

/* class index view */

.inputContainer .classInput {
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  box-sizing: border-box;
}

.classCard {
  background: lightblue;
  border: 2px solid black;
  padding: 10px 5px;
  margin: 10px;
}

#classList {
  list-style-type: none;
}
